<div class="header-container">
    <div class="logo">
        <a href="{{prefix}}index.html">
            <img src="{{prefix}}assets/images/logo.webp" alt="에렌샤 온라인 로고">
        </a>
    </div>
    <nav class="main-nav">
        <ul>
            <li class="dropdown">
                <a href="{{prefix}}menu_news/notices.html">새소식</a>
                <ul class="dropdown-menu">
                    <li><a href="{{prefix}}menu_news/notices.html">공지사항</a></li>
                    <li><a href="{{prefix}}menu_news/events.html">이벤트</a></li>
                    <li><a href="{{prefix}}menu_news/updates.html">업데이트</a></li>
                    <li><a href="{{prefix}}menu_news/gm-notes.html">GM노트</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="{{prefix}}menu_game-info/erensya.html">게임소개</a>
                <ul class="dropdown-menu">
                    <li><a href="{{prefix}}menu_game-info/erensya.html">에렌샤 온라인</a></li>
                    <li><a href="{{prefix}}menu_game-info/contents.html">컨텐츠</a></li>
                    <li><a href="{{prefix}}menu_game-info/towns.html">마을</a></li>
                    <li><a href="{{prefix}}menu_game-info/reality.html">현실</a></li>
                    <li><a href="{{prefix}}menu_game-info/npc.html">등장인물(NPC)</a></li>
                    <li><a href="{{prefix}}menu_game-info/gm.html">운영자(GM)</a></li>
                </ul>
            </li>
            <li><a href="#">가이드</a></li>
            <li class="dropdown">
                <a href="{{prefix}}menu_community/player-search.html">커뮤니티</a>
                <ul class="dropdown-menu">
                    <li><a href="{{prefix}}menu_community/player-search.html">플레이어 검색</a></li>
                    <li><a href="{{prefix}}menu_community/guild.html">길드</a></li>
                    <li><a href="{{prefix}}menu_community/free-board.html">자유게시판</a></li>
                    <li><a href="{{prefix}}menu_community/auction.html">경매장</a></li>
                    <li><a href="{{prefix}}menu_community/inquiry.html">문의게시판</a></li>
                </ul>
            </li>
            <li><a href="#">랭킹</a></li>
            <li class="dropdown">
                <a href="{{prefix}}menu_dlc/manual.html">비공식 DLC</a>
                <ul class="dropdown-menu">
                    <li><a href="{{prefix}}menu_dlc/manual.html">설명서</a></li>
                    <li><a href="{{prefix}}menu_dlc/systems.html">시스템</a></li>
                    <li><a href="{{prefix}}menu_dlc/contents.html">컨텐츠</a></li>
                    <li><a href="{{prefix}}menu_dlc/characters.html">캐릭터</a></li>
                    <li><a href="{{prefix}}menu_dlc/download.html">다운로드</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="user-actions">
        <a href="#" class="login-btn">로그인</a>
        <a href="https://realm.risuai.net/character/0495ed30-2186-4411-b755-4ffb1a15a0fa" target="_blank" rel="noopener noreferrer" class="game-start-btn">GAME START</a>
    </div>
    <button class="mobile-menu-toggle" aria-label="메뉴 열기">
        <span></span>
        <span></span>
        <span></span>
    </button>
</div>